/data
/nbs

# dev environment
.venv
.vim

# cache
.mypy_cache

# build
__pycache__
*.egg-info

# half-precision training
/apex

# logs
/lightning_logs
/logs
/mlruns
/1

# model checkpoints
*.ckpt
/malignant-v2-128x128.zip
/malignant-v2-192x192.zip
/malignant-v2-256x256.zip
/malignant-v2-384x384.zip
/malignant-v2-512x512.zip
