/submission.csv
/resnet18_submission.csv
/l1_resnet_predictions.csv
/l1_resnet_submission.csv
/l1_resnet_128_submission.csv
/subs_resnet_128_fold0.csv
/subs_resnet_128_fold1.csv
/subs_resnet_128_fold2.csv
/subs_resnet_128_fold3.csv
/subs_resnet_128_fold4.csv
/l1_efficientnet_128_submission.csv
/subs_efficientnet_128_fold0.csv
/subs_efficientnet_128_fold1.csv
/subs_efficientnet_128_fold2.csv
/subs_efficientnet_128_fold3.csv
/subs_efficientnet_128_fold4.csv
/l1_resnet_256_submission.csv
/subs_resnet_256_fold0.csv
/subs_resnet_256_fold1.csv
/subs_resnet_256_fold2.csv
/subs_resnet_256_fold3.csv
/subs_resnet_256_fold4.csv
/l1_efficientnet_384_submission.csv
/subs_efficientnet_384_fold0.csv
/subs_efficientnet_384_fold1.csv
/subs_efficientnet_384_fold2.csv
/subs_efficientnet_384_fold3.csv
/subs_efficientnet_384_fold4.csv
